= link_to "#" do
  = image_tag "/images/material/icon/app.svg",class:"main__top__inner__btn__app"
= link_to "#" do
  = image_tag "/images/material/icon/google.svg",class:"main__top__inner__btn__google"