.post__box__lists__list
  = link_to  product_path(:id) do
   
    %figure.post__box__lists__list__img
      = image_tag "/images/material/pict/pict-reason-01.jpg"
    .post__box__lists__list__body
     
      .post__box__lists__list__body__details
       
    