.content
  -@products.each do |product|
    .content__top
      -if product.status === "sold"
        .content__top__image
          = link_to image_tag(product.images[0].src.url ,size:"234x120"),  product_path(product.id) 
          = link_to "売り切れ", product_path(product.id), {class:"sold-out" }

      - else
        .content__top__image
          = link_to image_tag(product.images[0].src.url ,size:"234x120"),  product_path(product.id)
      .content__top__bottom
        = link_to product_path(product.id) do
          .content__top__bottom__title
            =product.name
          .content__top__bottom__price
            =product.price
            円

