.content
  -@products.each do |product|
    .content__top
      = link_to "products" do
        .content__top__image
          =link_to products_path(product.id)
      .content__bottom
        .content__bottom__title
          =link_to product.name
        .content__bottom__price
          =link_to product.price
  
