.content
  -@products.each do |product|
    .content__top
      = link_to "products" do
        .content__top__image
          -# =image_tag url: products.image
      .content__bottom
        .content__bottom__title
          =link_to product.name
        .content__bottom__price
          =link_to product.price
  
