<div class="main">
  <div class="main__top">
     <div class="main__top__content">
        <h2>人生を変えるフリマアプリ</h2>
        <p>FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです</p>
        <div class="main__top__content__btn">
           <a href="#" class="main__top__content__btn__app">
             <img src="">
           </div>
        </div>
     </div>

  </div>



</div>