= render partial: 'layouts/header'
.c-container
  = render partial: 'posts/sidemenu'
  .c-container__form
    %label{class: "card-title"} クレジットカード情報入力
    .c-container__form__inner 
      .c-container__form__inner__top
        %label{class: "card-number"} カード番号
        %span.form-require__label 必須
        .c-container__form__inner__top__form
        %input.card__input.number{maxlength: "19", name: "number", placeholder: "半角英数字のみ", type: "text", value: "",id: "payment_card_no",required: "required"}
        -# %ul#card-no-error-wrapper.has-error-text
        
      .c-container__form__inner__middle
        %label{class: "card-date"} 有効期限
        %span.form-require.card__form__top__label 必須
        .c-container__form__inner__middle__date-form
          %select#payment_card_expire_mm.select-wrap__default.exp_month{maxlength: "2",name: "exp_month", placeholder: "月", type: "text",required: "required"}
            %option{value: "01"} 01
            %option{value: "02"} 02
            %option{value: "03"} 03
            %option{value: "04"} 04
            %option{value: "05"} 05
            %option{value: "06"} 06
            %option{value: "07"} 07
            %option{value: "08"} 08
            %option{value: "09"} 09
            %option{value: "10"} 10
            %option{value: "11"} 11
            %option{value: "12"} 12
          %i.fa.fa-angle-down.select-wrap__icon
          %span 月
          %select#payment_card_expire_mm.select-wrap__default.exp_year{maxlength: "4",name: "exp_year", placeholder: "年", type: "text",required: "required"}
            %option{value: "2020"} 20
            %option{value: "2021"} 21
            %option{value: "2022"} 22
            %option{value: "2023"} 23
            %option{value: "2024"} 24
            %option{value: "2025"} 25
            %option{value: "2026"} 26
            %option{value: "2027"} 27
            %option{value: "2028"} 28
            %option{value: "2029"} 29
            %option{value: "2030"} 30
          %i.fa.fa-angle-down.select-wrap__icon
          %span 年
      .c-container__form__inner__bottom
        %label{class: "card-seq"} セキュリティコード
        %span.form-require.card__form__top__label 必須
        .c-container__form__inner__seqcode
          %input.card__input.number{maxlength: "4", name: "number", placeholder: "半角英数字のみ", type: "text", value: "",id: "payment_card_no",required: "required"}
      .c-container__form__inner__seq 
        .a カード裏面番号とは？
      .c-container__form__inner__btn
= render partial: 'layouts/footer'