.container
  .container__side
    .container__side__top
    %h3 　メルペイ
    .container__side__middle
    %h3 　設定
    .container__side__bottom

  .container__main
    .container__main__top
      .container__main__top__user
        .container__main__top__user__icon
        .container__main__top__user__name
        .container__main__top__user__number
          .container__main__top__user__number__point
          .container__main__top__user__number__item
      .container__main__top__tab-head
        .container__main__top__tab-head__notice
        .container__main__top__tab--head__to-do
      .container__main__top__lists
      .container__main__top__button
    .container__main__bottom
      .container__main__bottom__tab-head
      .container__main__bottom__tab
        .container__main__bottom__tab__left
        .container__main__bottom__tab__right
      .container__main__bottom__lists
    
       
        