
.container
  .container__side
    %ul
      %liマイページ 
      = link_to "#" do
        %i.fas.fa-angle-right
      %li お知らせ
      %li やることリスト
      %li いいね！一覧
      %li 出品する
      %li 下書き一覧
      %li 出品した商品-出品中
      %li 出品した商品-取引中
      %li 出品した商品-売却済み
      %li 購入した商品-取引中
      %li 購入した商品-過去の取引
      %li ニュース一覧
      %li 評価一覧
      %li ガイド
      %li お問い合せ
    %ul
      %h3 メルペイ
      %li 売上・振込申請
      %li ポイント
    %ul
      %h3 設定
      %li プロフィール
      %li 発注元・お届け先住所変更
      %li 支払い方法
      %li メール/パスワード
      %li 本人情報
      %li 電話番号の確認
      %li ログアウト
    
      
  .container__main
    .container__main__top
      .container__main__top__user
        .container__main__top__user__icon
          .container__main__top__user__icon__image
          .container__main__top__user__icon__name
            %h4 name
          .container__main__top__user__icon__number
            .container__main__top__user__icon__number__point
              %span 評価
            .container__main__top__user__icon__number__item
              %span 出品数
      .container__main__top__tab-head
        .container__main__top__tab-head__notice
        .container__main__top__tab--head__to-do
      .container__main__top__lists
      .container__main__top__button
    .container__main__bottom
      .container__main__bottom__tab-head
      .container__main__bottom__tab
        .container__main__bottom__tab__left
        .container__main__bottom__tab__right
      .container__main__bottom__lists
    
       
        