@mixin back($color){
  background-color:$color
}

.c-container {
  @include back(white);
  height: 170vh;
  width: 1040px;
  display: flex;
  margin: 40px auto;
  
  &__form{
    @include back(rgb(246, 246, 246));
    height: 180px;
    width: 700px;
    margin:60px auto;
    text-align: center;
    a{
      @include back(#FF3366);
      height: 50px;
      width: 320px;
      color: white;
      font-size: 14px;
      text-align: center;
      line-height: 50px;
      margin: 60px auto;
      display: block;
    }
  }
}

