.main {
  background: #f8f8f8;
  &__show {
    padding: 40px;
    margin: 0 auto;
    &__content {
      width: 700px;
      margin: 0 auto;
     &__top__itenBox{
      background-color: #fff;
      padding: 24px 40px 40px;
      &__body {
        margin: 16px 0 0;
        ul {
          display: flex;
          position: relative;
          li {
            display: flex;
            flex-direction: column;
            width: 560px;
            align-items: center;
            margin: 0 auto;
           &__image{
            height: 346px;


                img {
                  object-fit: cover;
                  height: 346px;
                  max-width: 100%;
                }
              }
          
          ul {
            display: flex;
            margin-top: 10px;
            overflow: scroll;
            width: 500px;
            background-color: #eee;
           
            li {

              width: 25%;
              margin: 0 10px 0 0;
              img {
                object-fit: cover;
                height: 87px;
              }

              }
            }
          }
         }
        }
        &__price {
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          span {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &__detail {
            font-size: 16px;
            span {
              font-size: 16px;
              
            }
            &__buy {
              display: flex;
              
               line-height: 60px;
               justify-content: center;
               li {
                 background-color: red;
                 color: white;
                 margin-left: 20px;
                 list-style: none;
                 width: 300px;
                 text-align: center;
                 a {
                  font-size: 24px;
                 }
               }

               
            }
            &__buy2 {
              
               line-height: 60px;
               justify-content: center;
               text-align: center;
                
                 a {
                  font-size: 24px;
                  background-color: red;
                  color: white;
                  padding: 10px 100px ;
                  list-style: none;
                  width: 300px;
                 
               }

               
            }


          }
        }
        &__itenpetali {
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
          
        }
        &__table {
          margin-bottom: 20px;
          table {
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tbody {
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
                }
              }
            }
          }
          &__Area {
            display: flex;
            justify-content: space-between;
            .option1 {
              margin: 10px 0 0;
              display: flex;
              &__li {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                &__fa {
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
              }
            }
            .option2 {
              margin: 10px 0 0;
              display: flex;
              &__li {
                font-size: 14px;
                a{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  &__fa {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
            }
          }
        }
      &__top__commentBox {
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        #new_comment {
          textarea {
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          p {
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;

          }
          .form__submit {
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
        &__comments {
          height: 270px;
          overflow: scroll;
          border: 1px solid #333;
          &__comment{
            text-align: left;
          }
        }
      }
      &__top__links {
        list-style: none;
        height: 24px;
        li {
          float: left;
          a {
            text-decoration: none;
            color: #3CCACE;
            
            }
          }
          li:last-child {
            float: right; 

          }
        }
      &__top__relateedItems {
        height: 33px;
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }

     
      }
      }
      }
     }

     .breadCrumbs {
      width: 100%;
      border-top: 1px solid #eee;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      position: relative;
      padding: 0 60px;
      height: 55px;

              ul {
                padding: 17px 0 16px;
                width: 100%;
                max-width: 1040px;
                font-size: 14px;
                margin: 0 auto;
                height: 54px;
                line-height: 30px;
                   li{
                    padding: 0 10px 0 0;
                    float: left;
                      a {
                        text-decoration: none;
                        color: #333;
                      }
                      .fa {
                        display: inline-block;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                      }
                   }
              }
     }
