@mixin back($color){
  background-color:$color
}

.container {
  @include back(red);
  height: 256vh;
  width: 100vw;
  display: flex;
  margin:20px;
  padding:0;
  &__main{
    @include back(white);
    height: 1500px;
    width: 1020px;
    margin: 70px 10px;
    &__top{
      @include back(black);
      height: 800px;
      width: 1000px;
      margin:auto;
      &__user{
        @include back(white);
        &__icon{
          @include back(blue);
        }
        &__name{
          @include back(yellow);
        }
        &__number{
          @include back(white);
          &__point{
            @include back(blue);
          }
          &__item{
            @include back(red);
          }
        }

      }
      &__tab-head{
        @include back(skyblue);
        &__notice{
          @include back(pink);
        }
        &__to-do{
          @include back(green);
        }

      }
    }
    
    &__bottom{
      @include back(yellow);
      height: 500px;
      width: 1000px;
      margin-top: 20px;
      &__tab-head{
        @include back(black);
      }
      &__tab{
        @include back(white);
        &__left{
          @include back(white);

        }
        &__roght{
          @include back(white);

        }
      }
      &__lists{
        @include back(yellow);
      }
    }
  }
  
  &__side{
    @include back(rgb(170, 163, 163));
    height: 95%;
    width: 280px;
    margin:70px ;
    float: left;
    li{
      height: 48px;
      width: 280px;
    }
    }
      
}
    
   