@mixin back($color){
  background-color:$color
}

.container {
  @include back(rgb(246, 246, 246));
  height: 256vh;
  width: 1040px;
  display: flex;
  margin:40px auto 0 ;
  padding:0;
  &__main{
    @include back(rgb(246, 246, 246));
    height: 1200px;
    width: 700px;
    margin: 70px ;
    &__top{
      @include back(#b3d4fc);
      height: 800px;
      width: 700px;
      margin: 0 0 0 -50px;
      
      &__user{
        @include back(skyblue);
        height: 200px;
        position: relative;
        padding: 20px;
        text-align: center;
        &__icon{
          @include back(rgb(246, 246, 246));
          height: 111px;
          // position: absolute;
          margin-top: 50px;
          
          &__image{
            @include back(red);
            height: 60px;
            width: 60px;
            margin: auto;
          }
          &__name{
            @include back(rgb(246, 246, 246));
            height: 19px;
            margin: 8px;
            text-align: center;
            
          }
          &__number{
            display: flex;
            @include back(white);
            height: 18px;
            margin-top: 8px;
            
            &__point{
              @include back(rgb(246, 246, 246));
              height: 16px;
              margin: auto;
            }
            &__item{
              @include back(rgb(246, 246, 246));
              height: 16px;
              margin: auto;
              
            }
          }
        }

      }
      &__tab-head{
        @include back(#fff);
        &__notice{
          @include back(pink);
        }
        &__to-do{
          @include back(green);
        }

      }
    }
    
    &__bottom{
      @include back(red);
      height: 380px;
      width: 700px;
      margin: 20px 0 0 -50px;
      &__tab-head{
        @include back(black);
      }
      &__tab{
        @include back(white);
        &__left{
          @include back(white);

        }
        &__right{
          @include back(white);

        }
      }
      &__lists{
        @include back(yellow);
      }
    }
  }
  
  &__side{
    ul{
      @include back(rgb(246, 246, 246));
      margin-top: 70px;
      list-style: none;
    
      li{
        @include back(white);
        height: 16px;
        width: 248px;
        font-size: 14px;
        padding: 16px;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgb(246, 246, 246);
        a{
          height: 16px;
          width: 100%;
          text-decoration: none;
          display:block;
        }
        a::after{
          font-family: FontAwesome;
          
        }
        
        .fas{
          margin-left: 150px;
          font-size: 1.5em;
          color: gray;
        }
        
       
      }
    
  }
    }
      
}
    
   