@mixin back($color){
  background-color:$color
}

.container {
  @include back(white);
  height: 170vh;
  width: 1040px;
  display: flex;
  margin:40px auto 0 ;
  padding:0;
  &__main{
    @include back(rgb(246, 246, 246));
    height: 1200px;
    width: 700px;
    margin: 70px ;
    &__top{
      @include back(white);
      height: 800px;
      width: 700px;
      margin: 0 0 0 -50px;
      
      &__user{
        @include back(rgb(117, 201, 207));
        height: 200px;
        padding: 20px;
        text-align: center;
        &__icon{
          @include back(transparent);
          height: 130px;
          margin-top: 50px;
          
          &__image{
            @include back(transparent);
            height: 60px;
            width: 60px;
            margin: auto;
            padding-top: 5px;
          }
          &__name{
            @include back(transparent);
            height: 19px;
            margin: 8px;
            text-align: center;
            
            .a{
              font-size: 14px;
              color: black;
              text-decoration: none;
            }
            
          }
          &__number{
            display: flex;
            @include back(transparent);
            height: 18px;
            margin-top: 8px;
            padding-bottom: 5px;
            .a{
              font-size: 14px;
              color: black;
              text-decoration: none;
            }
            
            &__point{
              @include back(transparent);
              margin: auto;
              }
              &__item{
                @include back(transparent);
                margin: auto;
                
              }
          }
        }

      }
      &__tab-head{
        @include back(#fff);
        height: 450px;
        &__tabs{
          margin-top: 12px;
          width:700px;
          .tab-label {
            height: 72px;
            width: 49.6%;
            display: inline-block;
         
            border: 1px solid #999;
            background-color: #f3f3f3;
           
            padding: 0 1px;
            border-bottom: none;
            font-size: 0.9em;
            text-align: center;
            line-height: 72px;
            font-size: 16px;
            justify-content: space-around;
            &:hover {
              opacity: 0.7;
            }
          }
          input[name="tab-notice"] {
            display: none;
          }
          .tab-content {
            @include back(white);
            display: none;
            border: 1px solid #999;
            padding: 10px;
            min-height: 200px;
            a{
              color: black;
              margin-top: 3px;
              display: flex;
              text-decoration: none;
              .p{
                font-size: 20px;
                margin:5px 0 0 10px;
              }
              i{
                font-size: 1.5em;
                margin: 5px 5px 0 0;
              }
            }
          }
          #tab-1:checked ~ .tab-1-content, #tab-2:checked ~ .tab-2-content {
            display: block;
          }
          input[name="tab-notice"]:checked + .tab-label {
            background-color: #fff;
          }
        }

      }
      &__low{
        @include back(white);
        height: 90px;
        width: 700px;
        margin-bottom: auto;
        &__btn{
          @include back(#c2bdbd);
          height: 72px;
          width: 670px;
          margin: 5px 15px;
          .a{
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            line-height: 72px;
            color: black;
          }
        }

      }
    }
    
    &__bottom{
      @include back(white);
      height: 380px;
      margin: 20px 0 0 -50px;
      &__tabs{
        margin-top: 12px;
        width:700px;
        .tab-label {
          height: 72px;
          width: 49.6%;
          display: inline-block;
          border: 1px solid #999;
          background-color: #f3f3f3;
          padding: 0 1px;
          border-bottom: none;
          font-size: 0.9em;
          text-align: center;
          font-size: 16px;
          justify-content: space-around;
          line-height: 72px;
          &:hover {
            opacity: 0.7;
          }
        }
        input[name="tab-transaction"] {
          display: none;
        }
        .tab-content {
          @include back(white);
          display: none;
          border: 1px solid #999;
          padding: 10px;
          min-height: 200px;
          a{
            color: black;
            margin-top: 3px;
            display: flex;
            text-decoration: none;
            .p{
              font-size: 20px;
              margin:5px 0 0 10px;
            }
            i{
              font-size: 1.5em;
              margin: 5px 5px 0 0;
            }
          }
        }
        #tab-3:checked ~ .tab-3-content, #tab-4:checked ~ .tab-4-content {
          display: block;
        }
        input[name="tab-transaction"]:checked + .tab-label {
          background-color: #fff;
        }
      }
      
    }
  }
  
  &__side{
    width: 300px;
    &__list{
      @include back(white);
      margin-top: 70px;
      list-style: none;
    
      &__name{
        @include back(white);
        height: 20px;
        width: 248px;
        font-size: 20px;
        padding: 20px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #f5f5f5;
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
       
        &:hover{
          background-color: rgb(221, 216, 216);
          i{
            font-size:1.5em;
            transform: translate(50%, 0);
            color: black;
          }
        }
        a{
          width: 248px;
          font-size: 14px;
          text-decoration: none;
          display:block;
          color: currentColor;
          i{
            font-size: 1.5em;
            position: absolute;
            color: gray;
          }
        }
      }
    
  }
    }
      
}
    
   