.content{
  height: 600px;
  max-width:1020px;
  overflow: scroll;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
  &__top{
    height: 180px;
    width: 30%;
    &__image{
      height: 120px;
      width: 100%;
      background-size:cover;
      // background-color: red;
      border: solid 1px;
      position:relative;
      .sold-out{
        position:absolute;
        top:50px;
        left:0;
        background-color:red;
        color:white;
        width: 100%;
      }
      
    }
    &__bottom{
      height: 30px;
      width: 100%;
      
      &__title{
        height: 20px;
        width: 100%;
        color: black;
        
      }
      &__price{
        height: 15px;
        width: 100%;
        color: black;
        
      }
    }
  }
}

.items-box_photo__sold{
  width: 0;
  height: 0;
  border-width: 120px 120px 0 0;
  border-color: #ea352d transparent transparent transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-style: solid;
  &__inner{
    top: -90px;
    font-size: 30px;
    position: absolute;
    left: 0;
  }
}

