@mixin back($color){
  background-color:$color
}

.container-logout {
  @include back(rgb(246, 246, 246));
  height: 256vh;
  width: 1040px;
  display: flex;
  margin:40px auto 0 ;
  padding:0;
  &__main{
    @include back(rgb(246, 246, 246));
    height: 1200px;
    width: 700px;
    margin: 70px ;
    &__top{
      @include back(white);
      height: 800px;
      width: 700px;
      margin: 0 0 0 -50px;
    }
  }
}    