
<div class="container">
      <div class="container_main">
        <div class="container_mypage">
        </div>
        <div class="go_list">
        </div>
      </div>
      <div class="container_side">
        <nav class="side_navi">
          <ul class="side_navi_list">
            <li>
            
            <a>マイページ</a>
            </li>
            <li>お知らせ</li>
            <li>やることリスト</li>
            <li>いいね！一覧</li>
            <li>出品する</li>
            <li>下書き一覧</li>
            <li>出品した商品、出品中</li>
            <li>出品した商品、取引中</li>
            <li>出品した商品、売却済み</li>
            <li>購入した商品、取引中</li>
            <li>購入した商品、、過去の取引</li>
            <li>ニュース一覧</li>
            <li>評価一覧</li>
            <li>ガイド</li>
            <li>お問い合わせ</li>
          </ul>
          <h3 class="side_navi_list">メルペイ</h3>
          <ul class="side_navi_list">
            <li>売り上げ、振り込み</li>
            <li>ポイント</li>
          </ul>
          <h3 class="side_navi_head">設定</h3>
          <ul class="side_navi_list">
            <li>プロフィール</li>
            <li>発送元、お届け先住所変更</li>
            <li>お支払い方法</li>
            <li>メール・パスワード</li>
            <li>本人情報</li>
            <li>電話番号の確認</li>
            <li>ログアウト</li>
          </ul>
        </nav>
      </div>
    </div>